<fo:block-container ${#attributes} ${.} ${/attributes}>
    <fo:block>
        ${#block-external-graphic}
            ${> block-external-graphic}
        ${/block-external-graphic}

        ${#block-leader}
            ${> block-leader}
        ${/block-leader}

    </fo:block>
</fo:block-container>