<fo:block-container margin-top="-7.5mm">
    <fo:block  text-align="left" margin-left="-4.5mm">
        <fo:external-graphic src="&{templateRequestData.logo}" height="28.2mm" width="31mm" content-height="scale-to-fit" scaling="non-uniform"/>
    </fo:block>
</fo:block-container>