<fo:table ${#table-attributes} ${.} ${/table-attributes}>
    ${#table-column}
        <fo:table-column ${#table-column-attributes} ${.} ${/table-column-attributes}/>
    ${/table-column}

    ${#table-header}
    <fo:table-header>
        ${#header-cell}
            <fo:table-cell ${#header-cell-attributes} ${.} ${/header-cell-attributes}>
                <fo:block ${#block.attributes} ${.} ${/block.attributes}>
                    ${#block.contentKey} {{&{${.}}}} ${/block.contentKey}
                </fo:block>
            </fo:table-cell>
        ${/header-cell}
    </fo:table-header>
    ${/table-header}

    ${#table-body}
    <fo:table-body ${#body-attributes} ${.} ${/body-attributes}>
        ${#table-row}
        <fo:table-row ${#row-attributes} ${.} ${/row-attributes}>
            ${#table-cell}
            <fo:table-cell ${#cell-attributes} ${.} ${/cell-attributes}>

                ${#block}
                    <fo:block ${#block.attributes} ${.} ${/block.attributes}>
                        ${#block.contentKey} {{&{${.}}}} ${/block.contentKey}
                    </fo:block>
                ${/block}

            </fo:table-cell>
            ${/table-cell}
        </fo:table-row>
        ${/table-row}
    </fo:table-body>
    ${/table-body}

</fo:table>