${#this.table}
    <fo:table ${#this.attributes} ${.} ${/this.attributes}>

    ${#this.table-column}
        <fo:table-column ${#this.attributes} ${.} ${/this.attributes}/>
    ${/this.table-column}

    ${#this.table-header}
        <fo:table-header>
            ${#this.table-cell}
                <fo:table-cell ${#this.attributes} ${.} ${/this.attributes}>
                    ${> blocks}
                </fo:table-cell>
            ${/this.table-cell}
        </fo:table-header>
    ${/this.table-header}

    ${#this.table-body}
        <fo:table-body ${#this.attributes} ${.} ${/this.attributes}>
            ${> blocks}
        </fo:table-body>
    ${/this.table-body}

    </fo:table>
${/this.table}



${#this.table-headers-layout-1}
<fo:table-header font-size="12pt">
    <fo:table-row>
        ${#this.table-cell}
        <fo:table-cell>
            ${> blocks}
        </fo:table-cell>
        ${/this.table-cell}
    </fo:table-row>
    <fo:table-row>
        <fo:table-cell number-columns-spanned="4">
            <fo:block  xsl:use-attribute-sets="borderbottom" margin-left="-2mm" margin-right="-2mm">

            </fo:block>
        </fo:table-cell>
    </fo:table-row>
</fo:table-header>
${/this.table-headers-layout-1}



${#this.table-row}
    <fo:table-row ${#this.attributes} ${.} ${/this.attributes}>
        ${> blocks}
    </fo:table-row>
${/this.table-row}


${#this.table-cell}
    <fo:table-cell ${#this.attributes} ${.} ${/this.attributes}>
    ${> blocks}
    </fo:table-cell>
${/this.table-cell}

${#this.table-cell-ncs-2}
    <fo:table-cell number-columns-spanned="2">
        ${> blocks}
    </fo:table-cell>
${/this.table-cell-ncs-2}

${#this.table-cell-end-ncs-2}
<fo:table-cell text-align="end" number-columns-spanned="2">
    ${> blocks}
</fo:table-cell>
${/this.table-cell-end-ncs-2}

${#this.table-cell-daa}
    <fo:table-cell display-align="after">
        ${> blocks}
    </fo:table-cell>
${/this.table-cell-daa}