${> blocks-table}
${> blocks-external-graphic}
${> blocks-leader}

${#this.page-number-citation}
    <fo:block ${#this.attributes} ${.} ${/this.attributes}>
        ${> blocks}<fo:page-number/>/<fo:page-number-citation ref-id="TheVeryLastPage"/>
    </fo:block>
${/this.page-number-citation}


${#this.block-container}
    <fo:block-container ${#this.attributes} ${.} ${/this.attributes}>
        ${> blocks}
    </fo:block-container>
${/this.block-container}


${#this.block}
    <fo:block ${#this.attributes} ${.} ${/this.attributes}>
        ${> blocks}
    </fo:block>
${/this.block}

${#this.block-end-inline}
    <fo:block text-align="end" ${#this.attributes} ${.} ${/this.attributes}>
        <fo:inline>
            ${> blocks}
        </fo:inline>
    </fo:block>
${/this.block-end-inline}

${#this.block-contentKey}
    <fo:block ${#this.attributes} ${.} ${/this.attributes}>
        {{${.}}}
    </fo:block>
${/this.block-contentKey}

${#this.block-end-requestField}
    <fo:block text-align="end" ${#this.attributes} ${.} ${/this.attributes}>
            <xsl:value-of select="${.}"/>
    </fo:block>
${/this.block-end-requestField}

${#this.block-end-requestField-intersperse}
    <fo:block text-align="end" ${#this.attributes} ${.} ${/this.attributes}>
        <xsl:call-template name="intersperse-with-zero-spaces">
            <xsl:with-param name="str" select="${.}"/>
        </xsl:call-template>
    </fo:block>
${/this.block-end-requestField-intersperse}

${#this.flowComponents} ${> blocks} ${/this.flowComponents}
${#this.blocks-seq} ${> blocks} <fo:block/> ${/this.blocks-seq}

${#this.contentKey} {{${.}}} &#160; ${/this.contentKey}
${#this.requestField} <xsl:value-of select="${.}"/> &#160; ${/this.requestField}