${#this.block-leader}
  <fo:block ${#this.attributes} ${.} ${/this.attributes}>
    <fo:leader leader-pattern="${this.leader.pattern}" ${#this.leader.attributes} ${.} ${/this.leader.attributes}/>
  </fo:block>
${/this.block-leader}

${#this.block-leader-rule-v1}
<fo:block margin-bottom="5mm" margin-top="2.22mm">
    <fo:leader leader-pattern="rule" leader-length="100%" rule-style="solid" rule-thickness="0.3mm" color="#ECECEC"/>
</fo:block>
${/this.block-leader-rule-v1}