${#this.external-graphic-1}
    <fo:external-graphic src="${this.src}" height="28.2mm" width="31mm" content-height="scale-to-fit" scaling="non-uniform"/>
${/this.external-graphic-1}

${#this.external-graphic-2}
    <fo:external-graphic src="${this.src}" height="8.6mm" width="3.95cm" content-height="scale-to-fit" scaling="non-uniform"/>
${/this.external-graphic-2}

${#this.external-graphic-3}
    <fo:external-graphic src="${this.src}" content-height="scale-to-fit" content-width="scale-to-fit" scaling="non-uniform" width="15.169mm" height="15.169mm"/>
${/this.external-graphic-3}

${#this.external-graphic-4-xslVar}
<xsl:variable name="${xslVar.name}" select="${xslVar.select}"/>
<fo:external-graphic
        src="data:image/png;base64,{$${xslVar.name}}"
        height="54.957mm" width="54.958mm" content-height="scale-to-fit"
        scaling="non-uniform"/>
${/this.external-graphic-4-xslVar}





