${> blocks-table}
${> blocks-external-graphic}
${> blocks-leader}

${#this.page-number-citation}
    <fo:block ${#this.attributes} ${.} ${/this.attributes}>
        ${> blocks}<fo:page-number/>/<fo:page-number-citation ref-id="TheVeryLastPage"/>
    </fo:block>
${/this.page-number-citation}


${#this.block-container}
    <fo:block-container ${#this.attributes} ${.} ${/this.attributes}>
        ${> blocks}
    </fo:block-container>
${/this.block-container}


${#this.block}
    <fo:block ${#this.attributes} ${.} ${/this.attributes}>
        ${> blocks}
    </fo:block>
${/this.block}


${#this.text-block} ${> blocks} <fo:block/> ${/this.text-block}
${#this.block-text} <fo:block/> ${> blocks} ${/this.block-text}
${#this.text-space} ${> blocks} &#160; ${/this.text-space}
${#this.text-space-v1} ${> blocks} &#160; ${> blocks} &#160; ${> blocks} ${/this.text-space-v1}
${#this.space-text} &#160; ${> blocks} ${/this.space-text}


${#this.contentKey} {{&{${.}}}} ${/this.contentKey}
${#this.requestField} <xsl:value-of select="${.}"/> ${/this.requestField}
${#this.text} ${.} ${/this.text}